Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1 # re-run prek install after changing this
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        language: system
        entry: bundle exec rubocop --force-exclusion
      - id: db_anonymizer
        name: DBAnonymizer
        language: script
        entry: ./scripts/migration_hook.rb
        files: "db\/migrate\/.*rb$"
      - id: stylelint
        name: StyleLint
        entry: yarn run stylelint
        language: system
        types: [ scss ]
        files: "\\.scss"
      - id: erblint
        name: ErbLint
        entry: erb_lint
        language: system
        files: "\\.html.erb"
      - id: standard_js
        name: StandardJS
        entry: yarn run standard
        language: system
        files: "\\.js"
        pass_filenames: false

TEMP: shorten timeout and reauthenticate minutes for testing
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

AP-6862: Verify selected office code
  app/forms/providers/office_form.rb
  spec/forms/providers/office_form_spec.rb
Due: none

AP-6305: Move custom failure app to handle zeitwerk loading issues
  config/initializers/devise.rb
  lib/devise/controllers/custom_failure.rb
  lib/devise/custom_failure.rb
Due: none

AP-6305: Correct message handling
  app/controllers/session_expired_controller.rb
  config/locales/en/errors.yml
Due: none

AP-6305: Amend reauthable
  lib/devise/controllers/custom_failure.rb
  lib/devise/hooks/reauthable.rb
Due: none

ap-6788: add offices_addresses_retriever
  app/services/pda/office_address_retriever.rb
  app/services/pda/office_address_struct.rb
  app/services/pda/offices_addresses_retriever.rb
  features/support/hooks.rb
  spec/services/pda/office_address_retriever_spec.rb
  spec/services/pda/offices_addresses_retriever_spec.rb
  spec/services/pda/provider_details_request_stubs.rb
Due: none

ap-6788: Add office address to office selection page
  app/controllers/concerns/office_address_handling.rb
  app/controllers/providers/select_offices_controller.rb
  app/views/providers/select_offices/show.html.erb
  spec/requests/providers/select_offices_spec.rb
  spec/services/pda/provider_details_request_stubs.rb
  spec/system/support/login_helpers.rb
  spec/system/support/step_helpers.rb
Due: erblint

ap-6788: Fix feature tests
  features/providers/applicant_details.feature
  features/providers/cookies.feature
  features/providers/cost_override.feature
  features/providers/linked_applications/back_button.feature
  features/providers/no_nino_flow.feature
  features/providers/non_means_tested_journey/under_18_application_journey.feature
  features/providers/non_means_tested_journey/with_delegated_functions.feature
  features/providers/non_means_tested_journey/without_delegated_functions.feature
  features/providers/proceeding_loop.feature
  features/providers/provider_feedback.feature
  features/providers/regressions/back_button_on_proceedings.feature
  features/providers/regressions/scope_limitations.feature
  features/providers/search_applications.feature
  features/providers/search_proceedings.feature
  features/providers/selecting_office.feature
  features/providers/sign_in.feature
  features/providers/special_children_act/secure_accomodation_order_cit.feature
  features/step_definitions/civil_journey_steps.rb
  features/step_definitions/cookie_steps.rb
  features/support/hooks.rb
  spec/services/pda/provider_details_request_stubs.rb
Due: none

AP-6849: Add editing sidebar
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/editing-sidebar.scss
  app/assets/stylesheets/helpers.scss
  app/helpers/page_template_helper.rb
  app/views/layouts/_editing_sidebar.html.erb
  app/views/providers/dwp/fallback/show.html.erb
  app/views/providers/received_benefit_confirmations/show.html.erb
  app/views/shared/forms/_applicant_form.html.erb
  app/views/shared/page_templates/_basic_page_template.html.erb
  app/views/shared/state_benefits/_receives_state_benefits.html.erb
Due: stylelint, erblint

AP-6849: Add edit links to print and review (WIP)
  app/assets/stylesheets/helpers.scss
  app/views/providers/means/check_income_answers/_applicant_income_assessment.html.erb
  app/views/providers/means/check_income_answers/_partner_income_assessment.html.erb
  app/views/shared/check_answers/_assets.html.erb
  app/views/shared/check_answers/_housing_benefit.html.erb
  app/views/shared/check_answers/_merits.html.erb
  app/views/shared/check_answers/_vehicles.html.erb
  app/views/shared/review_application/_questions_and_answers.html.erb
  config/locales/en/providers.yml
  config/locales/en/shared.yml
Due: stylelint, erblint

AP-6849: Get it working
  app/controllers/concerns/providers/application_dependable.rb
  app/controllers/providers/editing/confirmations_controller.rb
  app/helpers/editing_helper.rb
  app/helpers/page_template_helper.rb
  app/models/concerns/base_state_machine.rb
  app/models/concerns/non_passported_state_machine.rb
  app/models/concerns/passported_state_machine.rb
  app/services/editing/capital_and_assets_cleaner.rb
  app/services/editing/cleaner.rb
  app/services/editing/dwp_data_cleaner.rb
  app/services/editing/financial_assessment_cleaner.rb
  app/services/editing/merits_cleaner.rb
  app/views/layouts/_editing_sidebar.html.erb
  app/views/providers/application_merits_task/opponent_individuals/_form.html.erb
  app/views/providers/dwp/fallback/show.html.erb
  app/views/providers/editing/_sidebar.html.erb
  app/views/providers/editing/confirmations/show.html.erb
  app/views/providers/means/capital_disregards/add_details/show.html.erb
  app/views/providers/means/dependants/_form.html.erb
  app/views/providers/means/own_homes/show.html.erb
  app/views/providers/means/remove_dependants/show.html.erb
  app/views/providers/means/remove_vehicles/show.html.erb
  app/views/providers/means/vehicle_details/_form.html.erb
  app/views/providers/received_benefit_confirmations/show.html.erb
  app/views/providers/review_and_print_applications/show.html.erb
  app/views/shared/page_templates/_basic_page_template.html.erb
  app/views/shared/page_templates/_default_page_template.html.erb
  app/views/shared/state_benefits/_new_benefit_form.erb
  app/views/shared/state_benefits/_receives_state_benefits.html.erb
  app/views/shared/state_benefits/_remove.html.erb
  config/locales/en/generic.yml
  config/locales/en/providers.yml
  config/routes.rb
Due: erblint

AP-6849: Get it working
  app/controllers/concerns/providers/application_dependable.rb
  app/controllers/providers/editing/confirmations_controller.rb
  app/helpers/editing_helper.rb
  app/helpers/page_template_helper.rb
  app/models/concerns/base_state_machine.rb
  app/models/concerns/non_passported_state_machine.rb
  app/models/concerns/passported_state_machine.rb
  app/services/editing/capital_and_assets_cleaner.rb
  app/services/editing/cleaner.rb
  app/services/editing/dwp_data_cleaner.rb
  app/services/editing/financial_assessment_cleaner.rb
  app/services/editing/merits_cleaner.rb
  app/views/layouts/_editing_sidebar.html.erb
  app/views/providers/application_merits_task/involved_children/_form.html.erb
  app/views/providers/application_merits_task/opponent_individuals/_form.html.erb
  app/views/providers/delete/show.html.erb
  app/views/providers/dwp/fallback/show.html.erb
  app/views/providers/editing/_sidebar.html.erb
  app/views/providers/editing/confirmations/show.html.erb
  app/views/providers/means/capital_disregards/add_details/show.html.erb
  app/views/providers/means/check_income_answers/_applicant_income_assessment.html.erb
  app/views/providers/means/dependants/_form.html.erb
  app/views/providers/means/own_homes/show.html.erb
  app/views/providers/means/remove_dependants/show.html.erb
  app/views/providers/means/remove_vehicles/show.html.erb
  app/views/providers/means/vehicle_details/_form.html.erb
  app/views/providers/received_benefit_confirmations/show.html.erb
  app/views/providers/review_and_print_applications/show.html.erb
  app/views/shared/page_templates/_basic_page_template.html.erb
  app/views/shared/page_templates/_default_page_template.html.erb
  app/views/shared/review_application/_questions_and_answers.html.erb
  app/views/shared/state_benefits/_new_benefit_form.erb
  app/views/shared/state_benefits/_receives_state_benefits.html.erb
  app/views/shared/state_benefits/_remove.html.erb
  config/locales/en/generic.yml
  config/locales/en/providers.yml
  config/locales/en/shared.yml
  config/routes.rb
Due: erblint

AP-6849: Add edit links to print and review
  app/assets/stylesheets/helpers.scss
  app/views/providers/means/check_income_answers/_applicant_income_assessment.html.erb
  app/views/providers/means/check_income_answers/_partner_income_assessment.html.erb
  app/views/shared/check_answers/_assets.html.erb
  app/views/shared/check_answers/_housing_benefit.html.erb
  app/views/shared/check_answers/_merits.html.erb
  app/views/shared/check_answers/_vehicles.html.erb
  app/views/shared/review_application/_questions_and_answers.html.erb
  config/locales/en/providers.yml
  config/locales/en/shared.yml
Due: stylelint, erblint

fixup to get it working
  app/views/providers/dwp/fallback/show.html.erb
Due: erblint

AP-6849: Add merits and post merits cleaners (WIP)
  app/services/editing/cleaner.rb
  app/services/editing/merits_cleaner.rb
  app/services/editing/post_merits_data_cleaner.rb
Due: none

Security: Update erb gems
  Gemfile.lock
  gems/moj-components/Gemfile.lock
Due: none

Add bundler checksums to the gem
  gems/moj-components/Gemfile.lock
Due: none

Test: Remove ProceedingMeritsTask has_many links from the LegalAidApplication
  app/models/legal_aid_application.rb
  spec/models/legal_aid_application_spec.rb
Due: none

ap-6788: rename office_address_struct to office_address
  app/services/pda/office_address.rb
  app/services/pda/office_address_retriever.rb
  app/services/pda/offices_addresses_retriever.rb
  features/support/hooks.rb
  spec/services/pda/office_address_retriever_spec.rb
  spec/services/pda/offices_addresses_retriever_spec.rb
Due: none

ap-6788: refactor offices_addresses_retriever addresses loop
  app/services/pda/offices_addresses_retriever.rb
Due: none

Security: Exclude password|secret from modsec logs
  helm_deploy/apply-for-legal-aid/values-production.yaml
  helm_deploy/apply-for-legal-aid/values-staging.yaml
Due: none

AP-6849: Add merits and post merits cleaners
  app/services/editing/cleaner.rb
  app/services/editing/merits_cleaner.rb
  app/services/editing/post_merits_data_cleaner.rb
Due: none

AP-6849: Add financial assessment cleaner for bank statement upload flow
  app/services/editing/financial_assessment_cleaner.rb
Due: none

AP-6849: Add Capital and assets cleaner
  app/services/editing/capital_and_assets_cleaner.rb
Due: none

AP-6849: Add DWP and benefit check cleaner
  app/services/editing/dwp_data_cleaner.rb
  app/services/editing/financial_assessment_cleaner.rb
Due: none

AP-6849: Remove stickiness of sidebar
  app/assets/stylesheets/helpers.scss
  app/views/shared/page_templates/_basic_page_template.html.erb
  app/views/shared/page_templates/_default_page_template.html.erb
Due: stylelint, erblint

AP-6849: Add visually hidden text to editing links on review and print page
  app/views/shared/review_application/_questions_and_answers.html.erb
Due: erblint

AP-6855: Clean up partner data
  app/controllers/providers/partners/client_has_partners_controller.rb
  spec/requests/providers/partners/client_has_partners_controller_spec.rb
Due: none

AP-6855: Update specs
  spec/requests/providers/partners/client_has_partners_controller_spec.rb
Due: none

ap-6859: Fix dwp_outcome task list link
  app/presenters/task/dwp_outcome.rb
  spec/presenters/task/dwp_outcome_spec.rb
Due: none

Fix nil pointer error for titleize
  app/controllers/concerns/office_address_handling.rb
Due: none

Test: Expand mock logins
  app/controllers/admin_users/mock_auth_sessions_controller.rb
  app/controllers/mock_auth_sessions_base_controller.rb
  app/controllers/providers/mock_auth_sessions_controller.rb
  config/application.rb
  features/providers/sign_in.feature
  features/support/hooks.rb
  helm_deploy/apply-for-legal-aid/templates/_envs.tpl
  spec/system/mock_auth/sign_in_reauthentication_spec.rb
Due: none

AP:6900 WIP
  app/helpers/gov_uk_form_helper.rb
  app/views/shared/check_answers/_client_details.html.erb
  app/views/shared/review_application/_questions_and_answers.html.erb
Due: erblint

ap-6898: Don't allow a provider to select child_subject from Merits Task List
  app/controllers/providers/application_merits_task/client_has_parental_responsibilities_controller.rb
  app/views/shared/check_answers/_relationship_to_children.html.erb
  spec/requests/providers/application_merits_task/client_has_parental_responsibilities_controller_spec.rb
Due: erblint

Force admin controller to always switch locale to :en
  app/controllers/admin/admin_base_controller.rb
Due: none

Security: Update net-imap
  Gemfile.lock
Due: none

ap-6858: Fix bug that was stopping the DWP task list link being displayed
  app/services/task_status/check_provider_answers.rb
  spec/services/task_status/check_provider_answers_spec.rb
Due: none
