Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1 # re-run prek install after changing this
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        language: system
        entry: bundle exec rubocop --force-exclusion
      - id: db_anonymizer
        name: DBAnonymizer
        language: script
        entry: ./scripts/migration_hook.rb
        files: "db\/migrate\/.*rb$"
      - id: stylelint
        name: StyleLint
        entry: yarn run stylelint
        language: system
        types: [ scss ]
        files: "\\.scss"
      - id: erblint
        name: ErbLint
        entry: erb_lint
        language: system
        files: "\\.html.erb"
      - id: standard_js
        name: StandardJS
        entry: yarn run standard
        language: system
        files: "\\.js"
        pass_filenames: false

WIP: multistage build
  .dockerignore
  Dockerfile
  Gemfile.lock
  package.json
  yarn.lock
Due: standard_js

AP-6260: Convert to multistage build and amend dockerignore
  .dockerignore
  Dockerfile
  Gemfile.lock
  package.json
  yarn.lock
Due: standard_js

Fix: fix flaky test relying on existence of welsh translation
  config/locales/cy/layouts.yml
Due: none

AP-6260: Remove esbuild and sass from dependencies and add to devDependencies
  package.json
Due: standard_js

test-1.5.0-reset
  .pre-commit-config.yaml
Due: none

Add pre-commit-config.yaml
  .gitleaks.toml
  .pre-commit-config.yaml
  README.md
Due: none

Remove overcommit gem and readme
  .overcommit.yml
  Gemfile
  Gemfile.lock
  README.md
Due: none

AP-6260: dockerignore public folder
  .dockerignore
Due: none

AP-6260: Add docker compose configuration and documentation
  .env.sample
  README.md
  config/application.rb
  config/initializers/session_store.rb
  docker-compose.yaml
  docs/docker-compose.md
  helm_deploy/apply-for-legal-aid/templates/_envs.tpl
Due: none

AP-6633: Remove auth_subject_uid from provider and replace index
  app/models/provider.rb
  db/migrate/20260302140819_remove_auth_subject_uid_from_provider.rb
  db/migrate/20260302150718_replace_providers_auth_subject_uid_index.rb
  db/schema.rb
  spec/factories/providers.rb
  spec/models/provider_spec.rb
  spec/services/hmrc/mock_interface_response_service_spec.rb
Due: db_anonymizer

AP-6633: update TestProviderPopulator to remove auth_subject_uid
  db/seeds/test_provider_populator.rb
Due: none

AP-6608: Replace OB Santander bank ID with separate personal and business IDs
  config/banks.yml
Due: none

AP-6633: Update test provider populator
  db/seeds/test_provider_populator.rb
Due: none

AP-6260: Refactor CircleCI config to use a new install-js-dependencies command
  .circleci/config.yml
Due: none

AP-6260: Refactor CircleCI config to use single command for installing Ruby dependencies
  .circleci/config.yml
Due: none

AP-6260: Pin configure and install using yarn 4.12.0
  .gitignore
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: standard_js

TEMP: Use new apply-ci image and debug yarn version
  .circleci/config.yml
Due: none

AP-6260 Update Base Yarn v1.22 to v4.12
  Dockerfile
  docker/apply_base.dockerfile
Due: none

AP-6260: Add puppeter-core to dependencies and install in app image
  Dockerfile
  docker/apply_base.dockerfile
  package.json
  yarn.lock
Due: standard_js

AP-6260: Remove superflous LABEL directive
  docker/apply_ci.dockerfile
Due: none

AP-6260: Update CI yarn from v1.22 to v4.12
  docker/apply_ci.dockerfile
Due: none

AP-6260: Update axios and note CLI flag for installs
  .yarnrc.yml
  yarn.lock
Due: none

AP-6260: Remove some debug and unneeded comments
  .circleci/config.yml
  Dockerfile
Due: none

AP-6260: rerun bundle install to readd/position nokogiri musl
  Gemfile.lock
Due: none

AP-6672: Create test for lead_proceeding values in proceeding_merits
  spec/services/ccms/requestors/case_add_requestor_xml_blocks/non_means_tested_attributes_spec.rb
Due: none

AP-6672: Update base.yml to use proceeding.lead_proceeding value
  config/ccms/attribute_block_configs/base.yml
  spec/services/ccms/requestors/case_add_requestor_xml_blocks/non_means_tested_attributes_spec.rb
Due: none

AP-6672: Remove :nocov: tags
  app/services/ccms/requestors/case_add_requestor.rb
Due: none

AP-6260: Use newly pushed base and ci images
  .circleci/config.yml
  Dockerfile
Due: none

ap-6655: allow testing of 2026 cost of living changes
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

Chore: tune .dockerignore to exclude more files and directories
  .dockerignore
Due: none

AP-6260: Renable npm dependabots
  .github/dependabot.yml
Due: none

ap-6642: add override_admin_out_of_hours to settings
  db/migrate/20260302094218_add_override_admin_out_of_hours_to_settings.rb
  db/schema.rb
Due: db_anonymizer

ap-6642: override skip_out_of_hours? in admin_controller
  app/controllers/admin/admin_base_controller.rb
  app/controllers/application_controller.rb
  app/models/setting.rb
  spec/requests/pages_controller_spec.rb
Due: none

ap-6642: Fix spec that was failing
  spec/requests/admin/settings_controller_spec.rb
Due: none

ap-6642: add override_admin_out_of_hours to admin console
  app/controllers/admin/settings_controller.rb
  app/forms/settings/setting_form.rb
  app/views/admin/settings/show.html.erb
  config/locales/en/admin.yml
  spec/models/setting_spec.rb
  spec/requests/admin/settings_controller_spec.rb
Due: erblint

AP-6260: Reuse latest Docker image
  .circleci/config.yml
  Dockerfile
Due: none
