Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

db_anonymizer:
  name: DBAnonymizer
  language: script
  entry: ./scripts/migration_hook.rb

stylelint:
  name: StyleLint
  entry: yarn run stylelint
  language: system

erblint:
  name: ErbLint
  entry: erb_lint
  language: system

standard_js:
  name: StandardJS
  entry: yarn run standard
  language: system
  pass_filenames: false

AP-6896: Create full_employment_details migration task
  lib/tasks/migrate_full_employment_details.rake
Due: none

AP-6986: Update full_employment references from LAA to Applicant
  app/models/legal_aid_application.rb
  app/services/reports/mis/application_detail_csv_line.rb
  app/views/providers/means_reports/_with_cfe_result_details.html.erb
Due: erblint

AP-6896: Refactor error message into applicant model
  app/forms/applicants/full_employment_details_form.rb
  config/locales/en/activemodel.yml
  spec/requests/providers/means/full_employment_details_controller_spec.rb
Due: none

AP-6896: Update full_employment_details references
  spec/models/legal_aid_application_spec.rb
  spec/services/manual_review_detailer_spec.rb
  spec/services/reports/mis/application_detail_csv_line_spec.rb
  spec/services/results_panel_selector_spec.rb
Due: none

AP-6896: Update Check pending employment feature
  features/providers/check_pending_employment.feature
Due: none

AP-6305: Add session expired page and flow
  app/controllers/session_expired_controller.rb
  app/views/session_expired/show.html.erb
  config/initializers/devise.rb
  config/locales/en/errors.yml
  config/routes.rb
  lib/devise/controllers/custom_failure.rb
  lib/devise/hooks/reauthable.rb
  spec/system/mock_auth/sign_in_reauthentication_spec.rb
Due: erblint

AP-6305: Add welsh translations for devise generally
  config/locales/cy/devise.yml
Due: none

AP-6896: Refactor error message into applicant model
  config/locales/en/activemodel.yml
Due: none

Security: Update view_component
  Gemfile.lock
Due: none

AP-6896: Remove ignored_columns from Application model
  app/models/legal_aid_application.rb
Due: none

AP-6896: remove migration task
  lib/tasks/migrate_full_employment_details.rake
Due: none

AP-6896: Remove employment fields from application model
  db/migrate/20260508091835_delete_employment_fields_from_legal_aid_application.rb
  db/schema.rb
Due: db_anonymizer

Chore: Add missing too_many_decimals error messages for cost override forms
  config/locales/en/activemodel.yml
  spec/forms/legal_aid_applications/emergency_cost_override_form_spec.rb
Due: none

Security: Bump sanitze-html 2.17.3 to 2.17.4
  package.json
  yarn.lock
Due: standard_js

ap-6902: Add out of scope of LASP interrupt page
  app/controllers/providers/application_merits_task/out_of_scope_of_laspo_interrupts_controller.rb
  app/views/providers/application_merits_task/out_of_scope_of_laspo_interrupts/show.html.erb
  config/locales/en/providers.yml
  config/routes.rb
  spec/requests/providers/application_merits_task/out_of_scope_of_laspo_interrupts_controller_spec.rb
Due: erblint

ap-6902: add out_of_scope_of_laspo_intterupt_step
  app/services/flow/flows/provider_merits.rb
  app/services/flow/steps/provider_merits/in_scope_of_laspos_step.rb
  app/services/flow/steps/provider_merits/out_of_scope_of_laspo_interrupt_step.rb
  features/providers/merits_task_list.feature
  spec/requests/providers/application_merits_task/in_scope_of_laspos_controller_spec.rb
  spec/services/flow/steps/provider_merits/in_scope_of_laspos_step_spec.rb
  spec/services/flow/steps/provider_merits/out_of_scope_of_laspo_interrupt_step_spec.rb
Due: none

TEMP: disable mock authentication for branch
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

AP-6358: Add encrypted access and refresh token fields to provider
  db/migrate/20260511135738_add_entra_id_access_token_and_entra_id_refresh_token_to_providers.rb
  db/schema.rb
Due: db_anonymizer

AP-6358: Add on-behalf-of authentication flow
  .env.sample
  app/controllers/providers/omniauth_callbacks_controller.rb
  app/controllers/test/datastore_payloads_controller.rb
  app/lib/omni_auth/strategies/silas.rb
  app/models/provider.rb
  app/services/datastore/connection.rb
  app/services/datastore/obo_token_service.rb
  app/services/datastore/submitter.rb
  config/initializers/omniauth.rb
  helm_deploy/apply-for-legal-aid/templates/_envs.tpl
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

AP-6358: Change to use refresh token for JIT dedicated ADS token acquistion
  app/controllers/test/datastore_payloads_controller.rb
  app/models/provider.rb
  app/services/datastore/connection.rb
  app/services/datastore/obo_token_service.rb
  app/services/datastore/submitter.rb
  app/services/datastore/token_service.rb
  config/initializers/omniauth.rb
Due: none

AP-6358: Update specs inline with refresh token flow changes
  app/models/provider.rb
  spec/models/provider_spec.rb
  spec/services/datastore/connection_spec.rb
  spec/services/datastore/data_access_api_stubs.rb
  spec/services/datastore/submitter_spec.rb
Due: none

AP-6358: Add token service spec
  spec/services/datastore/data_access_api_stubs.rb
  spec/services/datastore/token_service_spec.rb
Due: none

Security: Address dependabot alerts
  Gemfile.lock
Due: none

ap-6895: Only display the partner question on the cya flow after changing proceeding
  app/services/flow/steps/provider_start/limitations_step.rb
  features/providers/check_provider_answers.feature
  features/providers/linked_applications/check_your_answers_link_and_copy.feature
  spec/services/flow/steps/provider_start/limitations_step_spec.rb
Due: none

AP-6358: Change to AuthCode flow for Datastore API calls
  app/controllers/test/datastore_payloads_controller.rb
  app/services/datastore/connection.rb
  app/services/datastore/submitter.rb
  app/services/datastore/token_service.rb
  config/initializers/omniauth.rb
  spec/services/datastore/token_service_spec.rb
Due: none

AP-6358: switch to OBO flow for datastore API authentication
  app/controllers/test/datastore_payloads_controller.rb
  app/services/datastore/connection.rb
  app/services/datastore/submitter.rb
  app/services/datastore/token_service.rb
  config/initializers/omniauth.rb
Due: none

AP-6358: Add token table for storing EntraID tokens
  app/models/entra_id_token.rb
  app/models/provider.rb
  db/anonymise/rules.rb
  db/migrate/20260519141126_create_entra_id_tokens.rb
  db/schema.rb
Due: db_anonymizer

Chore: Remove SCA workflow GHA
  .github/workflows/sca.yml
Due: none

AP-6913: Fix invalid back link
  app/controllers/citizens/check_answers_controller.rb
Due: none

AP-6913: Add specs for reset
  spec/requests/citizens/check_answers_spec.rb
Due: none

AP-6913: Put page content inside template
  app/views/citizens/accounts/index.html.erb
Due: erblint

AP-6913: Conditionally show back link
  app/views/citizens/check_answers/index.html.erb
Due: erblint

ap-6898 part 2: Don't display child subject CIT unless applicant under_18?
  app/forms/proceedings/client_involvement_type_form.rb
  features/providers/proceeding_loop.feature
  features/providers/special_children_act/secure_accomodation_order_cit.feature
  spec/requests/providers/proceeding_loop/client_involvement_type_controller_spec.rb
Due: none

ap-6898: Swap delegated functions and Client role questions
  app/services/flow/proceeding_loop.rb
  app/services/flow/steps/provider_proceeding_loop/client_involvement_type_step.rb
  app/services/flow/steps/provider_proceeding_loop/delegated_functions_step.rb
  app/views/shared/check_answers/_proceeding_details.html.erb
  features/providers/applicant_details.feature
  features/providers/check_provider_answers.feature
  features/providers/cost_override.feature
  features/providers/linked_applications/check_your_answers_link_and_copy.feature
  features/providers/no_nino_flow.feature
  features/providers/non_means_tested_journey/under_18_application_journey.feature
  features/providers/non_means_tested_journey/with_delegated_functions.feature
  features/providers/non_means_tested_journey/without_delegated_functions.feature
  features/providers/pathways_from_check_your_answers.feature
  features/providers/proceeding_loop.feature
  features/providers/regressions/scope_limitations.feature
  features/providers/special_children_act/secure_accomodation_order_cit.feature
  spec/requests/providers/has_other_proceedings_controller_spec.rb
  spec/requests/providers/proceeding_loop/client_involvement_type_controller_spec.rb
  spec/requests/providers/proceeding_loop/confirm_delegated_functions_date_controller_spec.rb
  spec/requests/providers/proceeding_loop/delegated_functions_controller_spec.rb
  spec/services/flow/proceeding_loop_spec.rb
  spec/services/flow/steps/provider_proceeding_loop/client_involvement_type_step_spec.rb
  spec/services/flow/steps/provider_proceeding_loop/delegated_functions_step_spec.rb
  spec/system/application_task_list/client_and_case_details_section/check_provider_answers_spec.rb
  spec/system/application_task_list/client_and_case_details_section/proceedings_types_spec.rb
  spec/system/support/step_helpers.rb
Due: erblint

AP-6358: Add refresh token for JIT dedicated ADS token acquistion
  .env.sample
  app/controllers/test/datastore_payloads_controller.rb
  app/lib/omni_auth/strategies/silas.rb
  app/models/entra_id_token.rb
  app/models/provider.rb
  app/services/datastore/connection.rb
  app/services/datastore/submitter.rb
  app/services/datastore/token_service.rb
  config/initializers/omniauth.rb
  db/anonymise/rules.rb
  db/migrate/20260519141126_create_entra_id_tokens.rb
  db/schema.rb
  helm_deploy/apply-for-legal-aid/templates/_envs.tpl
  helm_deploy/apply-for-legal-aid/values-uat.yaml
  spec/models/provider_spec.rb
  spec/services/datastore/connection_spec.rb
  spec/services/datastore/data_access_api_stubs.rb
  spec/services/datastore/submitter_spec.rb
  spec/services/datastore/token_service_spec.rb
Due: db_anonymizer

AP-6358: Handle refresh token expired flows
  app/controllers/test/datastore_payloads_controller.rb
  app/models/entra_id_token.rb
  app/services/datastore/connection.rb
  app/services/datastore/submitter.rb
  app/services/datastore/token_service.rb
  spec/factories/entra_id_tokens.rb
  spec/factories/providers.rb
  spec/requests/test/datastore_payloads_controller_spec.rb
  spec/services/datastore/connection_spec.rb
  spec/services/datastore/data_access_api_stubs.rb
  spec/services/datastore/submitter_spec.rb
  spec/services/datastore/token_service_spec.rb
Due: none

fixup to main commit
  config/initializers/omniauth.rb
Due: none

AP-6358: Switch to exchange refresh token on login
  app/models/entra_id_token.rb
  app/models/provider.rb
  app/services/datastore/connection.rb
  app/services/datastore/token_exchange_error.rb
  app/services/datastore/token_exchange_service.rb
  app/services/datastore/token_response.rb
Due: none

Path conditions:
  db_anonymizer: any of: db/migrate/.*rb$
  stylelint: any of: \.scss and \.scss$
  erblint: any of: \.html.erb
  standard_js: any of: \.js
