Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1 # re-run prek install after changing this
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        language: system
        entry: bundle exec rubocop --force-exclusion
      - id: db_anonymizer
        name: DBAnonymizer
        language: script
        entry: ./scripts/migration_hook.rb
        files: "db\/migrate\/.*rb$"
      - id: stylelint
        name: StyleLint
        entry: yarn run stylelint
        language: system
        types: [ scss ]
        files: "\\.scss"
      - id: erblint
        name: ErbLint
        entry: erb_lint
        language: system
        files: "\\.html.erb"
      - id: standard_js
        name: StandardJS
        entry: yarn run standard
        language: system
        files: "\\.js"
        pass_filenames: false

Security: bump zlib gem to address CVE-2026-27820
  Gemfile
  Gemfile.lock
Due: none

Security: Upgrade minimatch to 10.2.4
  package.json
  yarn.lock
Due: standard_js

Chore: Downgrade stylelint to address peer-dependency issues with stylelint-config-gds
  package.json
  yarn.lock
Due: standard_js

Apply beta ingress class to UAT for testing
  bin/deploy
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

AP-6657: Turn on ModSecurity for UAT
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

Fix: Ensure we have a public/favicon.ico and public/robots.txt
  .dockerignore
  Dockerfile
Due: none

Fix: yarn install failing due to mutations of yarn.lock
  yarn.lock
Due: none

AP-6323: Add multiple employments interrupt
  app/controllers/providers/partners/multiple_employments_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/multiple_employments_interrupts_step.rb
  app/views/providers/means/multiple_employments_interrupts/show.html.erb
  app/views/providers/partners/multiple_employments_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/multiple_employments_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/multiple_employments_interrupts_step_spec.rb
Due: erblint

AP-6323: Add hmrc unavailable interrupt
  app/controllers/providers/partners/hmrc_unavailable_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/hmrc_unavailable_interrupts_step.rb
  app/views/providers/means/hmrc_unavailable_interrupts/show.html.erb
  app/views/providers/partners/hmrc_unavailable_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/hmrc_unavailable_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/hmrc_unavailable_interrupts_step_spec.rb
Due: erblint

AP-6323: Add single employments interrupt
  app/controllers/providers/partners/single_employment_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/single_employment_interrupts_step.rb
  app/views/providers/means/single_employment_interrupts/show.html.erb
  app/views/providers/partners/single_employment_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/single_employment_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/single_employment_interrupts_step_spec.rb
Due: erblint

AP-6323: Add employed but no hmrc data interrupt
  app/controllers/providers/partners/employed_but_no_hmrc_data_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/employed_but_no_hmrc_data_interrupts_step.rb
  app/views/providers/means/employed_but_no_hmrc_data_interrupts/show.html.erb
  app/views/providers/partners/employed_but_no_hmrc_data_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/employed_but_no_hmrc_data_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/employed_but_no_hmrc_data_interrupts_step_spec.rb
Due: erblint

AP-6323: Add no nino interrupt
  app/controllers/providers/partners/no_nino_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/no_nino_interrupts_step.rb
  app/views/providers/means/no_nino_interrupts/show.html.erb
  app/views/providers/partners/no_nino_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/no_nino_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/no_nino_interrupts_step_spec.rb
Due: erblint

AP-6323: Update partner employed page routing
  app/services/flow/steps/partner/employed_step.rb
  features/providers/partner_means_assessment/employment.feature
  spec/requests/providers/partners/employed_controller_spec.rb
  spec/services/flow/steps/partner/employed_step_spec.rb
Due: none

AP-6323: Update partner employment_income
  app/views/providers/partners/employment_incomes/show.html.erb
  app/views/shared/_partner_employment_income.html.erb
  config/locales/en/shared.yml
Due: erblint

AP-6323: Update feature to reflect changes
  features/step_definitions/partner_means_check.rb
Due: none

AP-6323: Update partner full_employment_details
  app/views/providers/partners/full_employment_details/show.html.erb
  app/views/shared/_full_employment_details.html.erb
  app/views/shared/_partner_full_employment_details.html.erb
  config/locales/en/shared.yml
  spec/requests/providers/partners/full_employment_details_controller_spec.rb
Due: erblint

AP-6323: Update partner unexpected employment
  app/views/providers/partners/unexpected_employment_incomes/show.html.erb
  app/views/shared/_partner_unexpected_employment_incomes.html.erb
  config/locales/en/shared.yml
  spec/requests/providers/partners/unexpected_employment_incomes_controller_spec.rb
Due: erblint

AP-6323: Update routing
  app/services/flow/steps/partner/bank_statements_step.rb
  app/services/hmrc/partner_status_analyzer.rb
  spec/services/flow/steps/partner/bank_statements_step_spec.rb
  spec/services/hmrc/partner_status_analyzer_spec.rb
Due: none

AP-6323: Add unemployed but HMRC found data page
  app/controllers/providers/partners/unemployed_but_hmrc_found_data_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/unemployed_but_hmrc_found_data_interrupts_step.rb
  app/views/providers/means/unemployed_but_hmrc_found_data_interrupts/show.html.erb
  app/views/providers/partners/unemployed_but_hmrc_found_data_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/unemployed_but_hmrc_found_data_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/unemployed_but_hmrc_found_data_interrupts_step_spec.rb
Due: erblint

AP-6323: Update confusing spec descriptions
  spec/requests/providers/partners/full_employment_details_controller_spec.rb
Due: none

AP-6323: Add specs to cover interrupt links
  app/views/providers/partners/no_nino_interrupts/show.html.erb
  spec/requests/providers/partners/employed_but_no_hmrc_data_interrupts_controller_spec.rb
  spec/requests/providers/partners/hmrc_unavailable_interrupts_controller_spec.rb
  spec/requests/providers/partners/multiple_employments_interrupts_controller_spec.rb
  spec/requests/providers/partners/no_nino_interrupts_controller_spec.rb
  spec/requests/providers/partners/single_employment_interrupts_controller_spec.rb
  spec/requests/providers/partners/unemployed_but_hmrc_found_data_interrupts_controller_spec.rb
Due: erblint

Chore: update favicon and opengraph image
  app/views/layouts/application.html.erb
  config/application.rb
Due: erblint

ap-6656: rake task to populate involved child first_name and last_name
  lib/tasks/migrate_involved_children_names.rake
Due: none

Chore: docker ignore empty favicon
  .dockerignore
  Dockerfile
Due: none

test current ingress modsec on uat
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

app-6556: add first_name and last_name to involved_child_form
  app/forms/providers/application_merits_task/involved_child_form.rb
  app/models/application_merits_task/involved_child.rb
  app/services/flow/steps/provider_merits/involved_children_step.rb
  app/views/providers/application_merits_task/involved_children/_form.html.erb
  config/locales/en/activemodel.yml
  config/locales/en/providers.yml
  features/providers/merits_task_list.feature
  features/providers/public_law_family/merits_appeal_question_flow.feature
  features/providers/public_law_family/merits_child_care_assessment_question_flow.feature
  spec/factories/application_merits_task/involved_children.rb
  spec/forms/providers/application_merits_task/involved_child_form_spec.rb
  spec/models/application_merits_task/involved_child_spec.rb
  spec/requests/providers/application_merits_task/involved_children_spec.rb
  spec/requests/providers/resumes_controller_spec.rb
  spec/services/flow/steps/provider_merits/involved_children_step_spec.rb
Due: erblint

ap-6656: update ccms payload generator
  app/services/ccms/payload_generators/other_party_attribute_generator.rb
  spec/services/ccms/payload_generators/other_party_attribute_generator_spec.rb
  spec/services/ccms/requestors/case_add_requestor_spec.rb
  spec/services/ccms/requestors/special_children_act_case_add_requestor_spec.rb
Due: none

AP-6679: explicitly handle invalid opposable types?!
  app/builders/opponent_json_builder.rb
  spec/builders/opponent_json_builder_spec.rb
Due: none

AP-6307: Update bank accounts question content
  config/locales/en/providers.yml
  features/providers/applicant_details.feature
  features/providers/bank_statement_upload/happy_path_journey.feature
  features/providers/bank_statement_upload/state_benefit_loop.feature
  features/providers/bank_statement_upload/uploading_files.feature
  features/providers/change_email.feature
  features/providers/employment_status.feature
  features/providers/no_nino_flow.feature
  features/providers/non_passported_journey/waiting_for_applicant.feature
  features/providers/partner_means_assessment/end_to_end_income_assessment.feature
  features/providers/pathways_from_check_your_answers.feature
Due: none

Revert "build(deps): bump the npm group with 7 updates"
  package.json
  yarn.lock
Due: standard_js

Fix: add required font to base image
  docker/apply_base.dockerfile
Due: none

AP-6307: Remove truelayer offline account question
  app/controllers/citizens/additional_accounts_controller.rb
  app/views/citizens/additional_accounts/new.html.erb
  config/locales/cy/citizens.yml
  config/locales/en/citizens.yml
  config/routes.rb
  features/citizens/citizens.feature
  features/citizens/citizens_welsh.feature
  spec/requests/citizens/additional_accounts_spec.rb
Due: erblint

configure launch arguments to disable stetuid-sandbox
  config/initializers/grover.rb
Due: none

AP-6092: Add proceedings task list item
  app/presenters/task/proceedings_types.rb
  app/presenters/task_list/start_page_collection.rb
  app/services/task_status/proceedings_types.rb
  app/services/task_status/validators/proceedings_types.rb
  spec/cassettes/TaskStatus_Validators_ProceedingsTypes/_valid_/with_multiple_proceedings/when_all_delegated_functions_questions_have_been_answered/1_2_3_3_1.yml
  spec/cassettes/TaskStatus_Validators_ProceedingsTypes/_valid_/with_multiple_proceedings/when_any_delegated_functions_questions_have_not_been_answered/1_2_3_2_1.yml
  spec/cassettes/TaskStatus_Validators_ProceedingsTypes/_valid_/with_multiple_proceedings/with_one_proceeding_with_client_involvement_type_and_one_without/1_2_3_1_1.yml
  spec/cassettes/TaskStatus_Validators_ProceedingsTypes/_valid_/with_single_proceeding/with_a_client_involvement_type/1_2_2_1_1.yml
  spec/factories/proceedings.rb
  spec/presenters/task/proceedings_types_spec.rb
  spec/services/task_status/validators/proceedings_types_spec.rb
Due: none

downgrade alpine to 3.22 to downgrade chromium version
  Dockerfile
  docker/apply_base.dockerfile
Due: none

bump puppeteer to 24.39.1
  package.json
  yarn.lock
Due: standard_js

Chore: Remove the --disable-setuid-sandbox flag from Grover configuration
  config/initializers/grover.rb
Due: none

Chore: revert to using the latest apply base image
  Dockerfile
Due: none
