Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

db_anonymizer:
  name: DBAnonymizer
  language: script
  entry: ./scripts/migration_hook.rb

stylelint:
  name: StyleLint
  entry: yarn run stylelint
  language: system

erblint:
  name: ErbLint
  entry: erb_lint
  language: system

standard_js:
  name: StandardJS
  entry: yarn run standard
  language: system
  pass_filenames: false

AP-6849: Add Capital and assets cleaner
  app/services/editing/capital_and_assets_cleaner.rb
Due: none

AP-6849: Add merits and post merits cleaners
  app/services/editing/cleaner.rb
  app/services/editing/merits_cleaner.rb
  app/services/editing/post_merits_data_cleaner.rb
Due: none

AP-6849: Add financial assessment cleaner for bank statement upload flow
  app/services/editing/financial_assessment_cleaner.rb
Due: none

AP-6849: Add DWP and benefit check cleaner
  app/services/editing/dwp_data_cleaner.rb
  app/services/editing/financial_assessment_cleaner.rb
Due: none

AP-6849: Remove datastore submission button from PoC
  app/views/providers/submitted_applications/show.html.erb
Due: erblint

AP-6849: Add visually hidden text to editing links on review and print page
  app/views/shared/review_application/_questions_and_answers.html.erb
Due: erblint

AP-6849: Remove stickiness of sidebar
  app/assets/stylesheets/helpers.scss
  app/views/shared/page_templates/_basic_page_template.html.erb
  app/views/shared/page_templates/_default_page_template.html.erb
Due: stylelint, erblint

Test: Expand mock logins
  app/controllers/admin_users/mock_auth_sessions_controller.rb
  app/controllers/mock_auth_sessions_base_controller.rb
  app/controllers/providers/mock_auth_sessions_controller.rb
  config/application.rb
  features/providers/sign_in.feature
  features/support/hooks.rb
  helm_deploy/apply-for-legal-aid/templates/_envs.tpl
  spec/system/mock_auth/sign_in_reauthentication_spec.rb
Due: none

AP-6849: Add financial assessment cleaner for open bank flow'
  app/services/editing/financial_assessment_cleaner.rb
Due: none

Security: Update Nokogiri
  Gemfile.lock
  gems/moj-components/Gemfile.lock
Due: none

TEMP: turn on oauth on UAT branch for testing
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

TEMP: shorten timeout and reauthenticate minutes for testing
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

Fix: amend content on admin screen when no data to show
  app/views/admin/submitted_applications_reports/show.html.erb
Due: erblint

AP-6305: Add welsh translations for devise generally
  config/locales/cy/devise.yml
Due: none

AP-6305: Add session expired page and flow
  app/controllers/session_expired_controller.rb
  app/views/session_expired/show.html.erb
  config/initializers/devise.rb
  config/locales/en/errors.yml
  config/routes.rb
  lib/devise/controllers/custom_failure.rb
  lib/devise/hooks/reauthable.rb
  spec/system/mock_auth/sign_in_reauthentication_spec.rb
Due: erblint

Security: Update devise
  Gemfile.lock
Due: none

Security: Update view_component
  Gemfile.lock
  gems/moj-components/Gemfile.lock
Due: none

AP-6911: Rename step helpers
  spec/system/application_task_list/client_and_case_details_section/check_provider_answers_spec.rb
  spec/system/application_task_list/client_and_case_details_section/client_details_spec.rb
  spec/system/application_task_list/client_and_case_details_section/dwp_outcome_spec.rb
  spec/system/application_task_list/client_and_case_details_section/proceedings_types_spec.rb
  spec/system/support/step_helpers.rb
Due: none

AP-6912: Extract forms collection logic to its own class
  app/services/task_status/validators/proceeding_forms.rb
  app/services/task_status/validators/proceedings_types.rb
Due: none

AP-6912: Rename ProceedingForms to ProceedingType and update validation logic
  app/services/task_status/validators/proceeding_type.rb
  app/services/task_status/validators/proceedings_types.rb
Due: none

AP-6912: Memoize emergency and substantive level of service forms in ProceedingType validator
  app/services/task_status/validators/proceeding_type.rb
Due: none

AP-6913: Fix invalid back link
  app/views/citizens/check_answers/index.html.erb
Due: erblint

AP-6913: Put page content inside template
  app/views/citizens/accounts/index.html.erb
Due: erblint

AP-6883: Rename about_the_financial_assessment
  app/controllers/providers/email_address_confirmations_controller.rb
  app/services/flow/flows/provider_start.rb
  app/services/flow/steps/provider_start/about_the_financial_assessments_step.rb
  app/services/flow/steps/provider_start/email_address_confirmations_step.rb
  app/services/flow/steps/provider_start/email_addresses_step.rb
  app/views/providers/email_address_confirmations/show.html.erb
  config/locales/en/providers.yml
  config/routes.rb
  features/providers/applicant_details.feature
  features/providers/change_email.feature
  features/providers/non_passported_journey/waiting_for_applicant.feature
  features/step_definitions/civil_journey_steps.rb
  spec/requests/providers/email_address_confirmation_controller_spec.rb
  spec/services/flow/steps/provider_start/email_address_confirmations_step_spec.rb
  spec/services/flow/steps/provider_start/email_addresses_step_spec.rb
Due: erblint

AP-6883: Add rake task to migrate
  lib/tasks/migrate_about_the_financial_assessment.rake
Due: none

AP-6883: Update spec to reflect actual page
  spec/requests/providers/application_confirmations_spec.rb
Due: none

AP-6910: Rename to dwp_outcome
  app/services/task_status/dwp_outcome.rb
  app/services/task_status/validators/dwp_outcome.rb
Due: none

AP-6910: Fix status
  app/services/task_status/base.rb
  app/services/task_status/value_object.rb
  spec/services/task_status/value_object_spec.rb
Due: none

Chore: remove migrate about financial assessment
  lib/tasks/migrate_about_the_financial_assessment.rake
Due: none

AP-6896: Refactor the FullEmploymentDetailsForm
  app/forms/applicants/full_employment_details_form.rb
Due: none

AP-6896: Update legal_aid_application with ignored columns
  app/models/legal_aid_application.rb
Due: none

AP-6896: Update full_employment_details partial
  app/views/shared/check_answers/_full_employment_details.html.erb
Due: erblint

AP-6896: Refcator FullEmploymentDetailsController
  app/controllers/providers/means/full_employment_details_controller.rb
  spec/requests/providers/means/full_employment_details_controller_spec.rb
Due: none

AP-6896: Add full_employment_details to applicant
  db/migrate/20260506121138_add_employment_fields_to_applicant.rb
  db/schema.rb
Due: db_anonymizer

AP-6896: Update features for new field location
  features/providers/check_multiple_employment.feature
  features/providers/check_pending_employment.feature
  features/providers/employed_journey.feature
  features/providers/partner_means_assessment/means_check.feature
Due: none

AP-6896: Remove outdated factory
  spec/factories/legal_aid_applications.rb
Due: none

AP-6896: Update datastore JSON builders
  app/builders/applicant_json_builder.rb
  app/builders/legal_aid_application_json_builder.rb
Due: none

Path conditions:
  db_anonymizer: any of: db/migrate/.*rb$
  stylelint: any of: \.scss and \.scss$
  erblint: any of: \.html.erb
  standard_js: any of: \.js
