Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1 # re-run prek install after changing this
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        language: system
        entry: bundle exec rubocop --force-exclusion
      - id: db_anonymizer
        name: DBAnonymizer
        language: script
        entry: ./scripts/migration_hook.rb
        files: "db\/migrate\/.*rb$"
      - id: stylelint
        name: StyleLint
        entry: yarn run stylelint
        language: system
        types: [ scss ]
        files: "\\.scss"
      - id: erblint
        name: ErbLint
        entry: erb_lint
        language: system
        files: "\\.html.erb"
      - id: standard_js
        name: StandardJS
        entry: yarn run standard
        language: system
        files: "\\.js"
        pass_filenames: false

fixup, change country to australi to trigger webhook on pact broker
  spec/pact/providers/legal_framework_api/countries/all_spec.rb
Due: none

fixup, rnema step to can i merge
  .github/workflows/pact.yml
Due: none

AP-7050: Add pact testing for `organisation_searches/all`` endpoint
  spec/pact/providers/legal_framework_api/organisations/all_spec.rb
Due: none

AP-7056: Allow editing merits section
  app/controllers/providers/confirm_client_declarations_controller.rb
  app/controllers/providers/review_and_print_applications_controller.rb
  app/models/concerns/base_state_machine.rb
  app/models/legal_aid_application.rb
  config/locales/en/enums.yml
  db/migrate/20260630110355_add_in_application_edit_flow_to_legal_aid_applications.rb
  db/schema.rb
  spec/factories/legal_aid_applications.rb
  spec/models/legal_aid_application_spec.rb
  spec/requests/providers/review_and_print_applications_controller_spec.rb
Due: db_anonymizer

AP-7056: Remove warning
  app/views/providers/check_merits_answers/show.html.erb
Due: erblint

AP-7065: Split dependants into two partials
  app/views/providers/means/check_income_answers/show.html.erb
  app/views/providers/means_reports/_with_cfe_result_details.html.erb
  app/views/shared/check_answers/_dependants.html.erb
  app/views/shared/check_answers/_dependants_details.html.erb
  app/views/shared/review_application/_questions_and_answers.html.erb
  config/locales/en/shared.yml
Due: erblint

AP-7056: Update legacy policy disregards partial
  app/views/shared/check_answers/_assets.html.erb
  app/views/shared/check_answers/_one_link_section.html.erb
  features/providers/review_and_print.feature
Due: erblint

AP-7056: Update features to reflect changes
  app/models/concerns/base_state_machine.rb
  features/providers/partner_means_assessment/review_and_print.feature
  features/providers/review_and_print.feature
  features/step_definitions/means_report_steps.rb
Due: none
