Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

db_anonymizer:
  name: DBAnonymizer
  language: script
  entry: ./scripts/migration_hook.rb

stylelint:
  name: StyleLint
  entry: yarn run stylelint
  language: system

erblint:
  name: ErbLint
  entry: erb_lint
  language: system

standard_js:
  name: StandardJS
  entry: yarn run standard
  language: system
  pass_filenames: false

Fix: Remove unused partial
  app/views/shared/forms/_date_input_fields.html.erb
Due: erblint

Chore: Update gems
  Gemfile.lock
Due: none

AP-6481: Change Silas UID
  app/models/provider.rb
  spec/models/provider_spec.rb
Due: none

Chore: run dependabot against gem folder
  .github/dependabot.yml
Due: none

Test: for Silas changes
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

Fix: Dependabot for gem
  .github/dependabot.yml
Due: none

fix for the fix
  .github/dependabot.yml
Due: none

Fix: Update gem bundle
  gems/moj-components/Gemfile.lock
Due: none

Fix: Bump-nokogiri
  Gemfile.lock
Due: none

AP-6549: Change cya inset text to warning text
  app/views/providers/check_capital_answers/show.html.erb
  app/views/providers/check_merits_answers/show.html.erb
  app/views/providers/check_provider_answers/index.html.erb
  app/views/providers/means/check_income_answers/show.html.erb
  config/locales/en/generic.yml
Due: erblint

AP-6587: Update Civil Apply UAT to use Datastore Staging
  helm_deploy/apply-for-legal-aid/values-uat.yaml
Due: none

AP-6587: Remove nested ApplicationContent block
  app/services/datastore/payload_generator.rb
  spec/services/datastore/payload_generator_spec.rb
Due: none

AP-6519: Update cloner message
  config/locales/en/providers.yml
Due: none

ap-6459: linked application cya flow
  app/services/flow/steps/linked_applications/make_link_step.rb
  spec/services/flow/steps/linked_applications/make_link_step_spec.rb
Due: none

ap-6459: reset copy_case and copy_case_id if the provider selects No to linking
  app/forms/providers/link_application/make_link_form.rb
  spec/forms/providers/link_application/make_link_form_spec.rb
Due: none

AP-6321: Update previous reference page
  app/views/providers/previous_references/show.html.erb
  config/locales/en/providers.yml
  spec/requests/providers/previous_references_controller_spec.rb
Due: erblint

AP-6321: Update linking cases page
  app/views/providers/link_application/make_links/show.html.erb
  config/locales/en/providers.yml
Due: erblint

AP-6321: Update client has partner page
  app/views/providers/partners/client_has_partners/show.html.erb
  config/locales/en/providers.yml
  spec/requests/providers/partners/client_has_partners_controller_spec.rb
Due: erblint

AP-6321: Update contrary interest page
  app/views/providers/partners/contrary_interests/show.html.erb
  config/locales/en/providers.yml
  spec/requests/providers/partners/contrary_interests_controller_spec.rb
Due: erblint

AP-6321: Update dependants page
  app/views/providers/means/has_dependants/show.html.erb
  config/locales/en/providers.yml
Due: erblint

AP-6321: Update unit test handling for new page titles
  spec/system/application_task_list/client_and_case_details_section/check_provider_answers_spec.rb
  spec/system/application_task_list/client_and_case_details_section/client_details_spec.rb
  spec/system/application_task_list/client_and_case_details_section/dwp_outcome_spec.rb
  spec/system/support/step_helpers.rb
Due: none

AP-6321: Update restrictions page
  app/views/providers/means/restrictions/show.html.erb
  config/locales/en/providers.yml
Due: erblint

AP-6321: Update feature test handling for new page titles
  features/providers/applicant_details.feature
  features/providers/bank_statement_upload/happy_path_journey.feature
  features/providers/bank_statement_upload/state_benefit_loop.feature
  features/providers/check_your_answers.feature
  features/providers/complete_and_check_means_answers.feature
  features/providers/cost_override.feature
  features/providers/linked_applications/back_button.feature
  features/providers/linked_applications/check_your_answers_link_and_copy.feature
  features/providers/linked_applications/check_your_answers_not_linked.feature
  features/providers/no_nino_flow.feature
  features/providers/non_means_tested_journey/under_18_application_journey.feature
  features/providers/non_means_tested_journey/with_delegated_functions.feature
  features/providers/non_means_tested_journey/without_delegated_functions.feature
  features/providers/non_passported_journey/with_bank_transactions.feature
  features/providers/partner_means_assessment/end_to_end_capital_assessment.feature
  features/providers/partner_means_assessment/end_to_end_income_assessment.feature
  features/providers/proceeding_loop.feature
Due: none

AP-6515: Updated heading and buttons
  config/locales/en/providers.yml
Due: none

changed feature tests
  features/providers/back_button.feature
  features/providers/check_multiple_employment.feature
  features/providers/check_pending_employment.feature
  features/providers/check_single_employment.feature
  features/providers/merits_task_list.feature
  features/providers/non_means_tested_journey/without_delegated_functions.feature
  features/providers/passported_journey.feature
Due: none

AP-6587: Update Datastore headers with X-Service-Name
  app/services/datastore/connection.rb
Due: none

Fix test that is failing because 28.days.ago is currently rot < 1.month.ago
  spec/requests/providers/proceeding_loop/delegated_functions_controller_spec.rb
Due: none

Chore: Upgrade memory limit from 512Mi to 1Gi
  helm_deploy/apply-for-legal-aid/templates/deployment_web.yaml
Due: none

AP-6260: Bump CI tooling versions
  .circleci/config.yml
Due: none

AP-6260: Refactor CircleCI config to use single command for installing Ruby dependencies
  .circleci/config.yml
Due: none

AP-6260: Refactor CircleCI config to use a new install-js-dependencies command
  .circleci/config.yml
Due: none

TEMP: Use new apply-ci image and debug yarn version
  .circleci/config.yml
Due: none

AP-6260: Pin configure and install using yarn 4.12.0
  .gitignore
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: standard_js

AP-6260: Update CI yarn from v1.22 to v4.12
  docker/apply_ci.dockerfile
Due: none

AP-6260: Remove superflous LABEL directive
  docker/apply_ci.dockerfile
Due: none

AP-6260: Add puppeter-core to dependencies and install in app image
  Dockerfile
  docker/apply_base.dockerfile
  package.json
  yarn.lock
Due: standard_js

AP-6260 Update Base Yarn v1.22 to v4.12
  Dockerfile
  docker/apply_base.dockerfile
Due: none

AP-6260: Update axios and note CLI flag for installs
  .yarnrc.yml
  yarn.lock
Due: none

AP-6260: Add docker compose configuration and documentation
  .env.sample
  README.md
  config/application.rb
  config/initializers/session_store.rb
  docker-compose.yaml
  docs/docker-compose.md
  helm_deploy/apply-for-legal-aid/templates/_envs.tpl
Due: none

Path conditions:
  db_anonymizer: any of: db/migrate/.*rb$
  stylelint: any of: \.scss and \.scss$
  erblint: any of: \.html.erb
  standard_js: any of: \.js
