Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1 # re-run prek install after changing this
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        language: system
        entry: bundle exec rubocop --force-exclusion
      - id: db_anonymizer
        name: DBAnonymizer
        language: script
        entry: ./scripts/migration_hook.rb
        files: "db\/migrate\/.*rb$"
      - id: stylelint
        name: StyleLint
        entry: yarn run stylelint
        language: system
        types: [ scss ]
        files: "\\.scss"
      - id: erblint
        name: ErbLint
        entry: erb_lint
        language: system
        files: "\\.html.erb"
      - id: standard_js
        name: StandardJS
        entry: yarn run standard
        language: system
        files: "\\.js"
        pass_filenames: false

AP-6322: Add hmrc unavailable interrupt
  app/controllers/providers/means/hmrc_unavailable_interrupts_controller.rb
  app/services/flow/flows/provider_income.rb
  app/services/flow/steps/provider_income/hmrc_unavailable_interrupts_step.rb
  app/views/providers/means/hmrc_unavailable_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/means/hmrc_unavailable_interrupts_controller_spec.rb
  spec/services/flow/steps/provider_income/hmrc_unavailable_interrupts_step_spec.rb
Due: erblint

AP-6322: Add employed but no hmrc data interrupt
  app/controllers/providers/means/employed_but_no_hmrc_data_interrupts_controller.rb
  app/services/flow/flows/provider_income.rb
  app/services/flow/steps/provider_income/employed_but_no_hmrc_data_interrupts_step.rb
  app/views/providers/means/employed_but_no_hmrc_data_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/means/employed_but_no_hmrc_data_interrupts_controller_spec.rb
  spec/services/flow/steps/provider_income/employed_but_no_hmrc_data_interrupts_step_spec.rb
Due: erblint

AP-6322: Add no nino interrupt
  app/controllers/providers/means/no_nino_interrupts_controller.rb
  app/services/flow/flows/provider_income.rb
  app/services/flow/steps/provider_income/no_nino_interrupts_step.rb
  app/views/providers/means/no_nino_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/means/no_nino_interrupts_controller_spec.rb
  spec/services/flow/steps/provider_income/no_nino_interrupts_step_spec.rb
Due: erblint

AP-6322: Add multiple employments interrupt
  app/controllers/providers/means/multiple_employments_interrupts_controller.rb
  app/services/flow/steps/provider_income/multiple_employments_interrupts_step.rb
  app/views/providers/means/multiple_employments_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/means/multiple_employments_interrupts_controller_spec.rb
  spec/services/flow/steps/provider_income/multiple_employments_interrupts_step_spec.rb
Due: erblint

AP-6322: Update routing
  app/services/flow/steps/provider_start/bank_statements_step.rb
  app/services/hmrc/status_analyzer.rb
  spec/requests/providers/bank_statements_spec.rb
  spec/services/flow/steps/provider_start/bank_statements_step_spec.rb
  spec/services/hmrc/status_analyzer_spec.rb
Due: none

AP-6322: Populate url for pages after interrupt
  app/views/providers/means/employed_but_no_hmrc_data_interrupts/show.html.erb
  app/views/providers/means/hmrc_unavailable_interrupts/show.html.erb
  app/views/providers/means/multiple_employments_interrupts/show.html.erb
  app/views/providers/means/no_nino_interrupts/show.html.erb
  app/views/providers/means/single_employment_interrupts/show.html.erb
  app/views/providers/means/unemployed_but_hmrc_found_data_interrupts/show.html.erb
Due: erblint

AP-6322: Add unemployed but HMRC found data page
  app/controllers/providers/means/unemployed_but_hmrc_found_data_interrupts_controller.rb
  app/services/flow/flows/provider_income.rb
  app/services/flow/steps/provider_income/unemployed_but_hmrc_found_data_interrupts_step.rb
  app/views/providers/means/unemployed_but_hmrc_found_data_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/means/unemployed_but_hmrc_found_data_interrupts_controller_spec.rb
  spec/services/flow/steps/provider_income/unemployed_but_hmrc_found_data_interrupts_step_spec.rb
Due: erblint

AP-6322: Update caption size to match heading
  app/views/shared/_employment_status.html.erb
Due: erblint

AP-6322: Update form pages to match designs
  app/views/providers/means/full_employment_details/show.html.erb
  app/views/providers/partners/employment_incomes/show.html.erb
  app/views/providers/partners/full_employment_details/show.html.erb
  app/views/providers/partners/unexpected_employment_incomes/show.html.erb
  app/views/shared/_partner_employment_income.html.erb
  app/views/shared/_partner_full_employment_details.html.erb
  app/views/shared/_partner_unexpected_employment_incomes.html.erb
  app/views/shared/means/_employment_income_table.html.erb
  config/locales/en/shared.yml
  spec/requests/providers/means/full_employment_details_controller_spec.rb
  spec/requests/providers/means/unexpected_employment_incomes_controller_spec.rb
  spec/requests/providers/partners/full_employment_details_controller_spec.rb
  spec/requests/providers/partners/unexpected_employment_incomes_controller_spec.rb
Due: erblint

AP-6322: Update client completed means step
  app/services/flow/steps/provider_income/client_completed_means_step.rb
  spec/requests/providers/client_completed_means_controller_spec.rb
  spec/services/flow/steps/provider_income/client_completed_means_step_spec.rb
Due: none

AP-6322: Add single employments interrupt
  app/controllers/providers/means/single_employment_interrupts_controller.rb
  app/services/flow/flows/provider_income.rb
  app/services/flow/steps/provider_income/single_employment_interrupts_step.rb
  app/views/providers/means/single_employment_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/means/single_employment_interrupts_controller_spec.rb
  spec/services/flow/steps/provider_income/single_employment_interrupts_step_spec.rb
Due: erblint

AP-6322: Update feature tests to reflect new journey
  features/providers/bank_statement_upload/happy_path_journey.feature
  features/providers/bank_statement_upload/state_benefit_loop.feature
  features/providers/bank_statement_upload/uploading_files.feature
  features/providers/check_multiple_employment.feature
  features/providers/check_pending_employment.feature
  features/providers/check_single_employment.feature
  features/providers/employed_journey.feature
  features/providers/partner_means_assessment/means_check.feature
  features/step_definitions/bank_statement_upload_steps.rb
  features/step_definitions/civil_journey_steps.rb
Due: none

AP-6322: Remove duplicate steps
  features/providers/employed_journey.feature
Due: none

AP-6322: Make minor changes
  features/step_definitions/civil_journey_steps.rb
  spec/requests/providers/means/employed_but_no_hmrc_data_interrupts_controller_spec.rb
  spec/requests/providers/means/hmrc_unavailable_interrupts_controller_spec.rb
  spec/requests/providers/means/multiple_employments_interrupts_controller_spec.rb
  spec/requests/providers/means/no_nino_interrupts_controller_spec.rb
  spec/requests/providers/means/single_employment_interrupts_controller_spec.rb
  spec/requests/providers/means/unemployed_but_hmrc_found_data_interrupts_controller_spec.rb
Due: none

AP-6322: Remove unused method
  app/services/hmrc/status_analyzer.rb
Due: none

AP-6322: Update application digest with new statuses
  app/models/application_digest.rb
  spec/models/application_digest_spec.rb
Due: none

AP-6323: Add hmrc unavailable interrupt
  app/controllers/providers/partners/hmrc_unavailable_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/hmrc_unavailable_interrupts_step.rb
  app/views/providers/means/hmrc_unavailable_interrupts/show.html.erb
  app/views/providers/partners/hmrc_unavailable_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/hmrc_unavailable_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/hmrc_unavailable_interrupts_step_spec.rb
Due: erblint

AP-6323: Update routing
  app/services/flow/steps/partner/bank_statements_step.rb
  app/services/hmrc/partner_status_analyzer.rb
  spec/services/flow/steps/partner/bank_statements_step_spec.rb
  spec/services/hmrc/partner_status_analyzer_spec.rb
Due: none

AP-6323: Add unemployed but HMRC found data page
  app/controllers/providers/partners/unemployed_but_hmrc_found_data_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/unemployed_but_hmrc_found_data_interrupts_step.rb
  app/views/providers/means/unemployed_but_hmrc_found_data_interrupts/show.html.erb
  app/views/providers/partners/unemployed_but_hmrc_found_data_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/unemployed_but_hmrc_found_data_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/unemployed_but_hmrc_found_data_interrupts_step_spec.rb
Due: erblint

AP-6323: Add multiple employments interrupt
  app/controllers/providers/partners/multiple_employments_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/multiple_employments_interrupts_step.rb
  app/views/providers/means/multiple_employments_interrupts/show.html.erb
  app/views/providers/partners/multiple_employments_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/multiple_employments_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/multiple_employments_interrupts_step_spec.rb
Due: erblint

AP-6323: Add single employments interrupt
  app/controllers/providers/partners/single_employment_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/single_employment_interrupts_step.rb
  app/views/providers/means/single_employment_interrupts/show.html.erb
  app/views/providers/partners/single_employment_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/single_employment_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/single_employment_interrupts_step_spec.rb
Due: erblint

AP-6323: Add employed but no hmrc data interrupt
  app/controllers/providers/partners/employed_but_no_hmrc_data_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/employed_but_no_hmrc_data_interrupts_step.rb
  app/views/providers/means/employed_but_no_hmrc_data_interrupts/show.html.erb
  app/views/providers/partners/employed_but_no_hmrc_data_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/employed_but_no_hmrc_data_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/employed_but_no_hmrc_data_interrupts_step_spec.rb
Due: erblint

AP-6323: Add no nino interrupt
  app/controllers/providers/partners/no_nino_interrupts_controller.rb
  app/services/flow/flows/provider_partner.rb
  app/services/flow/steps/partner/no_nino_interrupts_step.rb
  app/views/providers/means/no_nino_interrupts/show.html.erb
  app/views/providers/partners/no_nino_interrupts/show.html.erb
  config/locales/en/shared.yml
  config/routes.rb
  spec/requests/providers/partners/no_nino_interrupts_controller_spec.rb
  spec/services/flow/steps/partner/no_nino_interrupts_step_spec.rb
Due: erblint

AP-6323: Update partner employment_income
  app/views/providers/partners/employment_incomes/show.html.erb
  app/views/shared/_partner_employment_income.html.erb
  config/locales/en/shared.yml
Due: erblint

AP-6323: Update partner employed page routing
  app/services/flow/steps/partner/employed_step.rb
  features/providers/partner_means_assessment/employment.feature
  spec/requests/providers/partners/employed_controller_spec.rb
  spec/services/flow/steps/partner/employed_step_spec.rb
Due: none

AP-6323: Update partner full_employment_details
  app/views/providers/partners/full_employment_details/show.html.erb
  app/views/shared/_full_employment_details.html.erb
  app/views/shared/_partner_full_employment_details.html.erb
  config/locales/en/shared.yml
  spec/requests/providers/partners/full_employment_details_controller_spec.rb
Due: erblint

AP-6323: Add specs to cover interrupt links
  app/views/providers/partners/no_nino_interrupts/show.html.erb
  spec/requests/providers/partners/employed_but_no_hmrc_data_interrupts_controller_spec.rb
  spec/requests/providers/partners/hmrc_unavailable_interrupts_controller_spec.rb
  spec/requests/providers/partners/multiple_employments_interrupts_controller_spec.rb
  spec/requests/providers/partners/no_nino_interrupts_controller_spec.rb
  spec/requests/providers/partners/single_employment_interrupts_controller_spec.rb
  spec/requests/providers/partners/unemployed_but_hmrc_found_data_interrupts_controller_spec.rb
Due: erblint

AP-6323: Update feature to reflect changes
  features/step_definitions/partner_means_check.rb
Due: none

AP-6323: Update partner unexpected employment
  app/views/providers/partners/unexpected_employment_incomes/show.html.erb
  app/views/shared/_partner_unexpected_employment_incomes.html.erb
  config/locales/en/shared.yml
  spec/requests/providers/partners/unexpected_employment_incomes_controller_spec.rb
Due: erblint

AP-6323: Update confusing spec descriptions
  spec/requests/providers/partners/full_employment_details_controller_spec.rb
Due: none

ap-6556: Migration to add first_name and last_name to involved child
  db/migrate/20260311092401_add_first_name_last_name_to_involved_children.rb
  db/schema.rb
Due: db_anonymizer

ap-6656: rake task to populate involved child first_name and last_name
  lib/tasks/migrate_involved_children_names.rake
Due: none

AP-6683: Add relationship_to_involved_children to ApplicantJsonBuilder
  app/builders/applicant_json_builder.rb
  spec/builders/applicant_json_builder_spec.rb
Due: none

app-6556: add first_name and last_name to involved_child_form
  app/forms/providers/application_merits_task/involved_child_form.rb
  app/models/application_merits_task/involved_child.rb
  app/views/providers/application_merits_task/has_other_involved_children/show.html.erb
  app/views/providers/application_merits_task/involved_children/_form.html.erb
  app/views/providers/application_merits_task/involved_children/show.html.erb
  config/locales/en/activemodel.yml
  config/locales/en/providers.yml
  spec/factories/application_merits_task/involved_children.rb
  spec/forms/providers/application_merits_task/involved_child_form_spec.rb
  spec/requests/providers/application_merits_task/involved_children_spec.rb
Due: erblint

Fix: Update imports
  app/assets/stylesheets/_imports.scss
Due: stylelint

AP-6679: Amend Datastore/Decide opponent mappings
  app/builders/opponent_json_builder.rb
  spec/builders/opponent_json_builder_spec.rb
Due: none

Fix: add missing welsh translation
  config/locales/cy/admin_users.yml
Due: none

make fake welsh to test
  config/locales/cy/admin_users.yml
Due: none

Fix: Add cleanup hook for welsh langanuage tests
  features/citizens/citizens_welsh.feature
  features/support/hooks.rb
Due: none
