Repository ministryofjustice/laa-apply-for-legal-aid: changes, and which pre-commit hooks are due for each by the changed paths.
All: db_anonymizer, stylelint, erblint, standard_js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1 # re-run prek install after changing this
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        language: system
        entry: bundle exec rubocop --force-exclusion
      - id: db_anonymizer
        name: DBAnonymizer
        language: script
        entry: ./scripts/migration_hook.rb
        files: "db\/migrate\/.*rb$"
      - id: stylelint
        name: StyleLint
        entry: yarn run stylelint
        language: system
        types: [ scss ]
        files: "\\.scss"
      - id: erblint
        name: ErbLint
        entry: erb_lint
        language: system
        files: "\\.html.erb"
      - id: standard_js
        name: StandardJS
        entry: yarn run standard
        language: system
        files: "\\.js"
        pass_filenames: false

AP-6909: Ignore completed_at
  app/models/legal_aid_application.rb
Due: none

AP-6909: Update completed_at to citizen_completed_at
  app/builders/legal_aid_application_json_builder.rb
  app/controllers/citizens/citizen_base_controller.rb
  app/services/citizen_complete_means.rb
  spec/requests/citizens/check_answers_spec.rb
  spec/requests/citizens/legal_aid_applications_controller_spec.rb
  spec/requests/citizens/means_test_results_controller_spec.rb
Due: none

AP-6909: Remove now unused completed_at column
  db/migrate/20260616124216_remove_completed_at_from_legal_aid_applications.rb
  db/schema.rb
Due: db_anonymizer

AP-6909: Remove ignore columns
  app/models/legal_aid_application.rb
Due: none

Chore: remove modal dialogue css
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/modal-dialogue.scss
Due: stylelint

Chore: remove unused CYA css
  app/assets/stylesheets/check-your-answers.scss
Due: stylelint

Chore: remove long-email-truncation css
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/long-email-truncation.scss
Due: stylelint

AP-6584: Enable submission to datastore from staging environment
  app/views/providers/submitted_applications/show.html.erb
  config/routes.rb
  spec/requests/providers/submitted_applications_controller_spec.rb
Due: erblint

AP-6376: Add sensitive attributes to datastore payload
  app/builders/bank_account_holder_json_builder.rb
  app/builders/bank_account_json_builder.rb
  app/builders/bank_provider_json_builder.rb
  app/builders/bank_transaction_json_builder.rb
  app/builders/employment_payment_json_builder.rb
  app/builders/hmrc_response_json_builder.rb
Due: none

ap-6988: Add an age parameter to the LFA call to retrieve Client Involvement Types
  app/forms/proceedings/client_involvement_type_form.rb
  app/services/legal_framework/client_involvement_types/proceeding.rb
Due: none

ap-7019: Add new rules around validation of proceeding types for autogranting
  app/models/legal_aid_application.rb
  spec/factories/proceedings.rb
  spec/models/legal_aid_application_spec.rb
  spec/services/datastore/payload_generator_spec.rb
Due: none

ap-7019: Refactor to use a dedicated Autograntable service class
  app/models/legal_aid_application.rb
  app/services/autograntable.rb
  spec/models/legal_aid_application_spec.rb
  spec/services/autograntable_spec.rb
Due: none

ap-7019: Add Emergency protection order - discharge to the list of autograntable proceedings
  app/services/autograntable.rb
Due: none

ap-7019: Add sca_core_proceedings as a a relation to the LegalAidApplication model
  app/models/legal_aid_application.rb
  app/services/autograntable.rb
Due: none

AP-6376: Remove HMRC data from datastore's payload
  app/builders/hmrc_response_json_builder.rb
  app/builders/legal_aid_application_json_builder.rb
Due: none

Chore: Add CodeQL configuration file
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Due: none

Security: deduplicate postcss versions to 8.5.15
  yarn.lock
Due: none

Security: Update gems with warnings
  Gemfile.lock
Due: none

Security: Update gems gems with warnings
  gems/moj-components/Gemfile.lock
Due: none

Chore: remove custom toml file
  .gitleaks.toml
Due: none

Chore: update to v2.0.1
  .pre-commit-config.yaml
Due: none

Chore: update devsecops hook version
  .pre-commit-config.yaml
Due: none

AP-7066: Update confirmation emails destination
  app/mailers/submission_confirmation_mailer.rb
  spec/mailers/submission_confirmation_mailer_spec.rb
Due: none

AP-6380: Update about financial means pages
  app/views/providers/about_financial_means/show.html.erb
  app/views/providers/partners/about_financial_means/show.html.erb
  app/views/shared/means/_about_financial_means.html.erb
  config/locales/en/providers.yml
  config/locales/en/shared.yml
  spec/requests/providers/about_financial_means_controller_spec.rb
  spec/requests/providers/partners/about_financial_means_controller_spec.rb
  spec/system/client_details/benefit_checker_override_spec.rb
  spec/system/client_details/dwp_flow_spec.rb
Due: erblint

AP-6380: Update capital introductions page
  app/views/providers/capital_introductions/show.html.erb
  config/locales/en/providers.yml
  spec/requests/providers/capital_introductions_controller_spec.rb
  spec/system/client_details/benefit_checker_override_spec.rb
  spec/system/client_details/dwp_flow_spec.rb
Due: erblint

AP-6380: Update feature tests
  features/providers/applicant_details.feature
  features/providers/change_email.feature
  features/providers/check_multiple_employment.feature
  features/providers/check_nonpassport_autogrant.feature
  features/providers/check_pending_employment.feature
  features/providers/check_single_employment.feature
  features/providers/complete_and_check_means_answers.feature
  features/providers/employment_status.feature
  features/providers/mtr_accelerated/capital_disregards.feature
  features/providers/mtr_accelerated/main_dwelling.feature
  features/providers/no_nino_flow.feature
  features/providers/non_passported_journey/used_delegated_functions.feature
  features/providers/non_passported_journey/waiting_for_applicant.feature
  features/providers/non_passported_journey/with_bank_transactions.feature
  features/providers/non_passported_journey/with_capital.feature
  features/providers/non_passported_journey/with_dependants.feature
  features/providers/non_passported_journey/with_means.feature
  features/providers/partner_means_assessment/bank_statement_upload/uploading_files.feature
  features/providers/partner_means_assessment/end_to_end_capital_assessment.feature
  features/providers/partner_means_assessment/end_to_end_income_assessment.feature
  features/providers/partner_means_assessment/means_check.feature
  features/providers/partner_means_assessment/state_benefits.feature
  features/providers/passported_journey.feature
  features/providers/pathways_from_check_your_answers.feature
Due: none

AP-6380: Remove unused css
  app/assets/stylesheets/helpers.scss
Due: stylelint

AP-7014: Refactor calls to set redis in base_api_call
  app/services/legal_framework/base_api_call.rb
  app/services/legal_framework/client_involvement_types/proceeding.rb
  app/services/legal_framework/proceeding_types/all.rb
  app/services/legal_framework/proceeding_types/defaults.rb
  app/services/legal_framework/proceeding_types/proceeding.rb
  app/services/legal_framework/proceeding_types/scopes.rb
Due: none

AP-7014: Update LFA call tests
  spec/forms/proceedings/emergency_defaults_form_spec.rb
  spec/requests/providers/proceeding_loop/emergency_defaults_controller_spec.rb
  spec/services/legal_framework/client_involvement_types/proceeding_spec.rb
  spec/services/legal_framework/proceeding_types/proceeding_spec.rb
Due: none

AP-7014: Update LFA calls to use cache
  app/services/legal_framework/client_involvement_types/proceeding.rb
  app/services/legal_framework/proceeding_types/defaults.rb
  app/services/legal_framework/proceeding_types/proceeding.rb
  app/services/legal_framework/proceeding_types/scopes.rb
Due: none

AP-7014: Add caching methods to the LFA base_api_call
  app/services/legal_framework/base_api_call.rb
  config/application.rb
Due: none

AP-7014: Update cassettes for cached calls
  features/cassettes/Applicant_details/Allows_return_to_and_proceed_from_Delegated_Function_date_view.yml
  features/cassettes/Applicant_details/Completes_the_application_using_address_lookup.yml
  features/cassettes/Applicant_details/Completes_the_application_using_address_lookup_with_building_number_name.yml
  features/cassettes/Applicant_details/Completes_the_application_using_address_lookup_with_multiple_proceedings.yml
  features/cassettes/Applicant_details/Completes_the_application_using_manual_address.yml
  features/cassettes/Applicant_details/I_can_see_that_the_applicant_does_not_receive_benefits.yml
  features/cassettes/Applicant_details/I_can_see_that_the_applicant_receives_benefits.yml
  features/cassettes/Loop_through_proceeding_questions/When_provider_does_not_accept_default_levels_of_service.yml
  spec/cassettes/LegalFramework_ProceedingTypes_Proceeding/_call/when_the_cache_is_empty/and_the_endpoint_is_called_multiple_times/makes_a_single_external_call.yml
Due: none

AP-7014: cache the country and organisations endpoints
  app/services/legal_framework/non_uk_home_addresses/all.rb
  app/services/legal_framework/organisation_types/all.rb
  app/services/legal_framework/organisations/all.rb
  spec/services/legal_framework/non_uk_home_addresses/all_spec.rb
  spec/services/legal_framework/organisation_types/all_spec.rb
  spec/services/legal_framework/organisations/all_spec.rb
Due: none

AP-7014: Cache the all proceedings endpoint
  app/services/legal_framework/proceeding_types/all.rb
  spec/cassettes/LegalFramework_OrganisationTypes_All/_call/when_the_cache_is_empty/and_the_endpoint_is_called_multiple_times/makes_a_single_external_call.yml
  spec/cassettes/Providers_HasOtherProceedingsController/GET_/providers/_application_id/has_other_proceedings/shows_the_current_number_of_proceedings.yml
  spec/cassettes/Providers_HasOtherProceedingsController/GET_/providers/_application_id/has_other_proceedings/shows_the_page.yml
  spec/cassettes/Providers_HasOtherProceedingsController/GET_/providers/_application_id/has_other_proceedings/when_all_available_proceedings_have_been_added/renders_the_limited_page.yml
Due: none

AP-7014: Update cache to 1 hour for testing purposes
  config/application.rb
Due: none

Chore: Move codeql-config file
  .github/workflows/codeql-analysis.yml
  config/codeql-config.yml
Due: none

Security: Update actions
  .github/workflows/anonymise_check.yml
  .github/workflows/base-docker-image.yml
  .github/workflows/brakeman-analysis.yml
  .github/workflows/ci-docker-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/delete-uat-release.yml
  .github/workflows/sast.yml
Due: none

AP-6357: Update state machine handling of auto datastore submission
  app/models/concerns/base_state_machine.rb
  app/models/concerns/special_children_act_state_machine.rb
  spec/concerns/base_state_machine_spec.rb
  spec/concerns/special_children_act_state_machine_spec.rb
Due: none

AP-6357: Update submitted_application view with datastore_id
  app/views/shared/review_application/_application_details.html.erb
  config/locales/en/shared.yml
Due: erblint
